.ContHeader {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 50px 0%;
   @media (max-width: 1001px) {
    margin-bottom: 15px;
    margin-top: 25px;
  }
 
   &-Link {
     color: #FF6060;
     text-decoration: none;
     font-size: 24px;
     padding: 0 0 0 60px;
 
     @media (max-width: 1001px) {
       font-size: 12px;
       padding: 0 0 0 15px;
       text-transform: uppercase;
     }
 
     &.active {
       text-decoration: underline;     
     }
     &:hover{
      text-decoration: underline;
     }
   }
 
   &-Logo {
     width: 180px;
 
     @media (max-width: 1001px) {
       width: 115px;
     }
   }
 }
 