.ContFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 210px;
  
    &-Text {
      color: white;
      font-size: 18px;
  
      @media (max-width: 1001px) {
        font-size: 15px;
      }
    }
  }
  